<ion-view view-title="Bitbloq Connect">
    <ion-content>
        <div class="card">
            <div class="item item-divider" ng-class="{'data-received':bluetoothData}">
                {{'device-is-receiving' | translate}}
            </div>
            <div class="item item-text-wrap">
                {{bluetoothData}}
            </div>
        </div>
        <div class="card">
            <div class="item item-divider" ng-class="{'data-received':soundToPlay}">
                {{'device-sound' | translate}}
            </div>
            <div class="item item-text-wrap">
                <i class="icon" ng-class="soundToPlay?'ion-android-volume-up':'ion-android-volume-mute'"></i>
                <span class="soundPlayed">{{soundToPlay}}</span>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                {{'device-send-voice' | translate}}
            </div>
            <div class="item item-text-wrap">
                <div class="speech">
                    <input id="transcript" ng-model="recognizedText.text" name="q" placeholder="Envía comandos" type="text"/>
                    <img class="speech-voice" ng-click="record()" src="img/microphone.gif"/>
                </div>
                <button ng-disabled="listening" class="button button-send" ng-click="send(recognizedText.text)">{{buttonText}} </button>
                {{textSended}}
            </div>

        </div>
        <div class="card">
            <div class="item item-divider" ng-class="{'data-received':torchChange}">
                {{'device-torch' | translate}}
            </div>
            <div class="item item-text-wrap">
                <div ng-show="isOff">
                    <img class="bulb-icon" src="img/bulb_turnoff.png">{{torchStatus}}
                </div>
                <div ng-show="isOn">
                    <img class="bulb-icon" src="img/bulb_turnon.png">{{torchStatus}}
                </div>
                <div ng-show="isToggling">
                    <img class="bulb-icon" src="img/bulb_turnon.png">{{torchStatus}}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider" ng-class="{'data-received':tweetMessage}">
                {{'device-twitter' | translate}}
            </div>
            <div class="item item-text-wrap">
                <div ng-if="tweetMessage" class="item item-text-wrap">
                    {{tweetMessage}}
                </div>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider" ng-class="{'data-received':sensorRead}">
                {{sensorRead?sensorRead:('device-sensors'|translate)}}
            </div>
            <div class="item item-text-wrap">
                {{sensorValue?sensorValue:('device-sensors-values'|translate)}}
            </div>
        </div>
    </ion-content>
</ion-view>
