<ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="common.go('#/app/devices')" ng-show="!common.itsConnected && !common.selectedDevice">
            <i class="icon ion-alert-circled"></i>
        </button>
        <button class="button" ng-click="refresh()" ng-show="!common.itsConnected && common.selectedDevice">
            <i class="icon ion-refresh"></i>
        </button>
        <label class="color color--red" ng-show="!common.itsConnected">
            {{'menu-no--connection' | translate}}
        </label>
        <label class="color color--green" ng-show="common.itsConnected">
            {{'menu-connected' | translate}} to {{common.selectedDevice.name}}
        </label>
    </ion-nav-buttons>
</ion-nav-bar>
<!--<ion-nav-view name="menuContent"></ion-nav-view>-->
<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab href="#/app/main" icon="ion-ios-alarm" title="Main">
        <ion-nav-view name="main-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab href="#/app/devices" icon="ion-settings" title="Devices">
        <ion-nav-view name="devices-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
