/* Empty. Add your own CSS if you like */

.color {
    width: 100%;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
}
.color--red {
    color: #cc0001;
}
.color--green {
    color: #00e500;
}
.button-item {
    float: left;
    width: 31%;
    margin: 1em;
    text-align: right;
}
.button-item .remove-button {
    margin-top: 5px;
}
.test {
    background-color: red;
    width: 100%;
    height: 50px;
}
.soundPlayed {
    margin-left: 20px;
}
.data-received {
    color: white !important;
    background-color: #82ad3a !important;
}
.tabs-striped.tabs-positive .tabs {
    background-color: #82ad3a !important;
}

/* HEADER BAR */

.bar.bar-stable {
    background-color: #373B44 !important;
}
.bar.bar-stable .title {
    color: white !important;
}

/* TABS BAR */

.bar-stable .button {
    color: #cc0001 !important;
    background-color: #373B44 !important;
}

/* BACKGROUND */

.pane {
    background-color: #ebebeb !important;
}
